<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>404 Error</title>
</head>

<body>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_afwjhfb2.json" background="transparent" speed="1"
        style="width: 100%; height: 100vh;" loop autoplay></lottie-player>
</body>

</html>